<%- include("header") -%>

<div class="box">
  <form action="" method="post">
    <div class="item">
      <input type="text" name="user" value="" placeholder="Username">
    </div>
    <input type="text" name="pass" value="" placeholder="Password">
    <button type="submit" class="login" name="login">+</button>
  </form>
  <form action="" method="post">
    <button type="button" class="login" name="button">Register</button>
  </form>
</div>




<%- include("footer") -%>
